@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;700&family=Righteous&family=Sarala:wght@400;700&family=Source+Serif+Pro&family=Ubuntu:ital,wght@1,300&display=swap');

header {

  text-align: center;
}

.principal {
  display: flex;
  flex-wrap: wrap;
  flex-flow: column wrap;
  flex-basis:auto;
  align-items: center;
  text-align: center;
  margin-top: 80px;
  padding: 20px;
  border-top: 0.4px solid #FFF2E7;
  font-family: 'Ubuntu', sans-serif;
}

body {

  background-color: black
  
}
  
  h1 {
  
    color: aliceblue

}
  
  h2 {
  

    color: aliceblue;
  }

  p {
  
  
    color: aliceblue;

  }

 