
div {

    text-align: center;
    margin-top: 80px;
    border-top: 0.4px solid #FFF2E7;
    padding: 20px;
    

}

body {



    background-color: black
  }
  
  h1 {
  
    color: aliceblue
  
  
  }
  
  h2 {
  
  
    color: aliceblue;
  }

  p {
  
  
    color: aliceblue;

  }

 